.god-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 634px;
}

.main-component {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 421px;
  width: 449px;
}

.first-row {
  display: flex;
  flex-direction: row;
  height: 313px;
  width: 447px;
}

.f-row-col-1,
.f-row-col-2,
.f-row-col-3,
.f-row-col-4,
.f-row-col-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 179.4px;
  border: 1px solid;
}

.f-row-col-1 {
  background-color: #548ed7;
  width: 126.2px;
}
.f-row-col-2 {
  background-color: #06b050;
  width: 127.4px;
  border-left: none;
}
.f-row-col-3 {
  background-color: #ffff01;
  width: 95.7px;
  border-left: none;
  border-right: none;
}
.f-row-col-4 {
  background-color: #ffffff;
  width: 31.1px;
  
}
.f-row-col-5 {
  background-color: #c0504e;
  flex: 1;
  border-left: none;
}

.second-row {
  display: flex;
  flex-direction: row;
  height: 210px;
  width: 448px;
}
.s-row-col-1 .s-row-col-2 .s-row-col-3 .s-col {
  display: flex;
  height: 49px;
  border: 1px solid;
  
}

.s-row-col-1 {
  display: flex;
  width: 191px;
  background-color: #c0504e;
  border: 1px solid;
  border-top:none;
}
.s-row-col-2 {
  display: flex;
  width: 63.4px;
  background-color: #ffff01;
  border: 1px solid;
  border-left: none;
  border-top:none;
}
.s-row-col-3 {
  display: flex;
  width: 63.4px;
  background-color: #06b050;
  border: 1px solid;
  border-left: none;
  border-top:none;
}
.s-col {
  display: flex;
  flex-direction: column;
  flex:1;
}

.s-col-row-1 {
  display: flex;
  height: 58.9px;
  background-color: #ffffff;
  border: 1px solid;
  border-left: none;
  border-top:none;
}
.s-col-row-2 {
  display: flex;
  background-color: #548ed7;
  flex: 1;
  border: 1px solid;
  border-left: none;
  border-top:none;
}
.third-row {
  display: flex;
  flex-direction: row;
  height: 210px;
  width: 448px;
}
.t-row-col-1 .t-row-col-2 .t-row-col-3 .t-row-col-4 {
  height: 209px;
  border: 1px solid;
}

.t-row-col-1 {
  display: flex;
  width: 62.6px;
  background-color: #548ed7;
  border: 1px solid;
  border-top:none;
}
.t-row-col-2 {
  display: flex;
  width: 127.7px;
  background-color: #06b050;
  border: 1px solid;
  border-top:none;
  border-left:none;
}
.t-row-col-3 {
  display: flex;
  width: 127.3px;
  background-color: #ffffff;
  border: 1px solid;
  border-top:none;
  border-left:none;
}
.t-row-col-4 {
  display: flex;
  width: 63.1px;
  background-color: #c0504e;
  border: 1px solid;
  border-top:none;
  border-left:none;
}
.t-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.t-col-row-1 {
  display: flex;
  background-color: #ffffff;
  height: 59px;
  border: 1px solid;
  border-top:none;
  border-left:none;
}
.t-col-row-2 {
  display: flex;
  background-color: #06b050;
  flex: 1;
  width: 99%;
  border: 1px solid;
  border-top:none;
  border-left:none;
}
